name: Fly Deploy
permissions:
  contents: read
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: >
          flyctl deploy --remote-only
          -a ${{ vars.APP }}
          -e ADMIN_USERNAME=${{ vars.ADMIN_USERNAME }}
          -e BASE_URL=${{ vars.BASE_URL }}
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
